.featuredcard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.featuredcard>img{
    height: 50px;
    object-fit: contain;
    margin-bottom: 5px;
}
.featuredcard>p{
    font-size: 18px;
    font-weight: 500;
}
.featuredcard:hover{
    transform: scale(1.09);
    transition: all 0.3s ease-in;
    cursor: pointer;
}